#cp-home-hero {
  position: relative;
  // overflow: hidden;

  height: 620px;
  margin-top: -20px;
  padding-top: 115px;
  border-bottom: 1px solid $palette-gray;
  background: url("../assets/images/layout/pages/home/hero/bg.webp");
  background-position: top right 100%;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: $palette-blue;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
  }

  .container {
    height: 100%;
  }

  .hero {
    position: relative;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      z-index: 10;
      bottom: -1px;
      left: 1px;
      width: calc(100% - 2px);
      height: 19px;
      // border-top: 1px solid $palette-gray;

      border-bottom: 1px solid $palette-white;
      background-color: $palette-white;
      clip-path: polygon(2% 0, 98% 0, 100% 100%, 0 100%);
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 9;
      bottom: -1px;
      left: 0;
      width: 100%; /* ширина угла */
      height: 20px;
      background-color: $palette-gray;
      clip-path: polygon(2% 0, 98% 0, 100% 100%, 0 100%);
    }

    &__center-cut {
      position: absolute;
      z-index: 0;
      top: -1px;
      left: 50%;
      width: 30px; /* ширина выреза */
      height: 320px;
      background-color: #f7f7f7;
      transform: translateX(-50%);
      clip-path: polygon(0 0%, 0 92%, 100% 100%, 100% 0);

    }

    &__slide {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    &__info {
      max-width: 590px;
    }

    &__title {
      padding-top: 40px;
      color: $color-text__white;
      font-weight: $weight-Bold;
      font-size: 42px;
      line-height: 120%; /* 50.4px */
    }

    &__line {
      width: 572px;
      height: 1px;
      margin-top: 18px;
      margin-bottom: 16px;
      background-color: $palette-white;
    }

    &__text {
      color: $color-text__white;
      font-weight: $weight-Medium;
      line-height: 150%; /* 24px */
    }

    &__action {
      margin-top: 28px;
    }

    .swiper {
      &-slide {
      }
    }

    .swiper-pagination-numeric {
      position: absolute;
      top: 0;
      bottom: unset;
      left: 0;
      width: auto;
      padding: 0 15px;
      color: #efefef;
      font-weight: $weight-Medium;
      line-height: 150%; /* 24px */

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        user-select: none;
        transform: translateY(-50%);
      }

      &::before {
        content: "[";
        left: 0;
      }

      &::after {
        content: "]";
        right: 0;
      }
    }

    .swiper-pagination-bullets {
      position: absolute;
      z-index: 20;
      bottom: 0;
      left: 50%;
      display: flex;
      gap: 20px;
      justify-content: center;
      padding: 0 30px;
      transform: translateX(-50%);
    }
  }
}
