#cp-home-hero {
  position: relative;
  // overflow: hidden;

  height: 620px;
  margin-top: -20px;
  border-bottom: 1px solid $palette-gray;
  background: url("../assets/images/layout/pages/home/hero/bg.webp");
  background-position: top right 100%;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: $palette-blue;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
  }

  .container {
    height: 100%;
  }

  .hero {
    position: relative;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      z-index: 10;
      bottom: -1px;
      left: 1px;
      width: calc(100% - 2px);
      height: 19px;
      // border-top: 1px solid $palette-gray;

      border-bottom: 1px solid $palette-white;
      background-color: $palette-white;
      clip-path: polygon(2% 0, 98% 0, 100% 100%, 0 100%);
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 9;
      bottom: -1px;
      left: 0;
      width: 100%; /* ширина угла */
      height: 20px;
      background-color: $palette-gray;
      clip-path: polygon(2% 0, 98% 0, 100% 100%, 0 100%);
    }

    &__center-cut {
      position: absolute;
      z-index: 0; /* между ::before и ::after */
      top: -1px;
      left: 50%;
      width: 30px; /* ширина выреза */
      height: 320px;
      background-color: #f7f7f7; /* или цвет фона, если нужно */
      transform: translateX(-50%);
      // clip-path: polygon(0 0, 100% 0, 100% 98%, 98% 100%, 0 100%);

      clip-path: polygon(0 0%, 0 92%, 100% 100%, 100% 0);
      /* Можно добавить фон, границы или тени, чтобы сделать вырез видимым */
    }

    .swiper {
      &-slide {
      }
    }
  }
}
