#cp-home-switch {
  @keyframes wavemove1 {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-25px);
    }
  }

  @keyframes wavemove2 {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-32px);
    }
  }

  @keyframes wavemove3 {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-29px);
    }
  }

  @keyframes wavemove4 {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-22px);
    }
  }

  @keyframes wavemove5 {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-35px);
    }
  }

  .switch {
    position: relative;
    // height: 490px;

    .container {
      @include mq($until: tablet) {
        max-width: 100%;
        padding: 0;
      }

      position: relative;
    }

    &__item {
      @include mq($until: laptop) {
        width: 250px;
        max-width: none;
        height: 250px;
        margin-right: auto;
        margin-left: auto;

        picture {
          max-height: 170px;

          .image {
            height: 170px;
          }
        }
      }

      @include mq($until: notebook) {
        width: 220px;
        height: 220px;

        picture {
          max-height: 150px;

          .image {
            height: 150px;
          }
        }
      }

      @include mq($until: tablet) {
        width: 180px;
        height: 180px;

        picture {
          max-height: 125px;

          .image {
            height: 125px;
          }
        }
      }

      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 330px;
      height: 330px;
      margin: 7px;
      border: 1px solid #e5e5e5;
      border-radius: 438px;
      background: radial-gradient(50.09% 50.09% at 50% 50%, rgba(255, 255, 255, 0) 0%, #f5f5f5 100%);

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: -6px;
        border: 1px solid #e5e5e5;
        border-radius: 454px;
        background: $palette-white;
      }

      &::after {
        content: "";
        position: absolute;
        top: 17px;
        left: 50%;
        width: 13px;
        height: 11px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='13' height='11' viewBox='0 0 13 11' fill='none'%3e%3cpath d='M6.06201 10.5L-0.000165975 -1.88258e-07L12.1242 8.71687e-07L6.06201 10.5Z' fill='%23C1C1C1'/%3e%3c/svg%3e");
        transform: translateX(-50%);
      }

      picture {
        max-height: 220px;

        .image {
          width: auto;
          height: 220px;
        }
      }
    }

    &__title {
      color: $color-text__gray;
      font-weight: $weight-Bold;
      font-size: 12px;
      line-height: 150%; /* 18px */
    }

    &__controls {
      @include mq($until: tablet) {
        right: 20px;
      }

      position: absolute;
      top: -75px;
      right: 0;
      display: flex;
      gap: 10px;
      align-items: center;
      height: 65px;

      .swiper-button-prev,
      .swiper-button-next,
      .swiper-pagination {
        position: relative;
        top: 0 !important;
        right: 0 !important;
        left: 0 !important;
        flex-shrink: 0;
        max-width: 55px;

        svg {
          display: none;
        }
      }

      .swiper-pagination {
        margin-top: -20px;
      }
    }

    .swiper {
      &-wrapper {
        @include mq($until: laptop) {
          height: 340px;
          margin-top: 50px;
        }
        @include mq($until: notebook) {
          height: 310px;
          margin-top: 45px;
        }
        @include mq($until: tablet) {
          height: 265px;
          margin-top: 35px;
        }

        height: 430px;
        margin-top: 70px;
      }

      &-slide {
        @include mq($until: laptop) {
          margin-right: 0;
          margin-left: 0;
        }
        @include mq($until: notebook) {
          &-prev {
            transform: translateX(-20px);
          }

          &-next {
            transform: translateX(20px);
          }
        }
        // @include mq($until: tablet) {
        //   &-prev {
        //     transform: translateX(-80px);
        //   }

        //   &-next {
        //     transform: translateX(80px);
        //   }
        // }

        margin: 0 10px 10px;
        transition: $transition-time ease;

        &-active {
          @keyframes pulsescale {
            0% {
              transform: scale(1);
            }

            60% {
              transform: scale(1.4);
            }

            80% {
              transform: scale(1.25);
            }

            100% {
              transform: scale(1.3);
            }
          }

          @include mq($until: laptop) {
            margin: 0 0 45px;

            .switch__title {
              font-size: 16px;
            }
          }

          @include mq($until: tablet) {
            margin-bottom: 35px;
          }

          margin: 0 70px 70px;
          transform: scale(1.3);
          animation: pulsescale 0.8s forwards;

          .switch__title {
            color: $palette-blue;
            font-size: 20px;
            line-height: 150%; /* 30px */
          }

          .switch__item {
            &::after {
              width: 20px;
              height: 17px;
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='17' viewBox='0 0 20 17' fill='none'%3e%3cpath d='M9.52635 16.5L5.48482e-05 -3.04047e-05L19.0526 -2.87391e-05L9.52635 16.5Z' fill='%230038B2'/%3e%3c/svg%3e");
            }
          }
        }
      }
    }

    &__action {
      display: flex;
      justify-content: center;

      .button {
        gap: 15px;
        width: 216px;
        height: 44px;

        @media (hover: hover) {
          &:hover {
            span {
              &::before {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='2' height='25' viewBox='0 0 2 25' fill='none'%3e%3cpath d='M0.75 0V24.969' stroke='%230033AB' stroke-width='1.5'/%3e%3c/svg%3e");

                // background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='2' height='25' viewBox='0 0 2 25' fill='none'%3e%3cpath d='M0.75 0V24.969' stroke='%230033AB' stroke-width='1.5'/%3e%3c/svg%3e");
              }
            }
          }
        }

        svg {
          width: 22px;
          height: 17px;
        }

        span {
          position: relative;
          margin-top: 3px;
          padding-left: 20px;

          &::before {
            content: "";
            position: absolute;
            top: -5px;
            left: 0;
            width: 2px;
            height: 25px;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='2' height='25' viewBox='0 0 2 25' fill='none'%3e%3cpath d='M0.75 0V24.969' stroke='white' stroke-width='1.5'/%3e%3c/svg%3e");
          }
        }
      }
    }
  }

  .wave-container {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    overflow: visible;
    width: 100%;
    height: 180px; /* или нужная высота */
    padding: 20px 0;
    transform: translateY(-50%);

    svg {
      mask-image: linear-gradient(to right, transparent 0%, $palette-black 20%, $palette-black 80%, transparent 100%);
    }
  }

  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    fill: none;
    stroke: $palette-blue;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    stroke-width: 2;

    &1 {
      animation-name: wavemove1;
      animation-duration: 1.8s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &2 {
      animation-name: wavemove2;
      animation-duration: 1.6s;
      animation-timing-function: ease-in-out;
      animation-delay: 0.3s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &3 {
      animation-name: wavemove3;
      animation-duration: 1.3s;
      animation-timing-function: ease-in-out;
      animation-delay: 0.6s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &4 {
      animation-name: wavemove4;
      animation-duration: 1.4s;
      animation-timing-function: ease-in-out;
      animation-delay: 0.9s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &5 {
      animation-name: wavemove5;
      animation-duration: 1.5s;
      animation-timing-function: ease-in-out;
      animation-delay: 0.2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}
