#cp-about-advantages {
  @include mq($from: tablet, $until: laptop) {
    .about-advantages {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 40px;

      &__item {
        gap: 9px;

        height: auto;
        min-height: 45px;
        margin-bottom: 20px;

        padding-bottom: 20px;

        &:last-child {
          height: auto;
          min-height: 34px;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }

      &__icon {
        width: 34px;
        height: 34px;
      }

      &__text {
        font-size: 16px;
      }
    }
  }
  @include mq($until: tablet) {
    padding-top: 60px;

    .container {
      padding-right: 20px;
      padding-left: 20px;
    }

    .section__line {
      margin-bottom: 15px;
    }

    .about-advantages {
      display: flex;
      flex-direction: column;
      gap: 0;

      &__content {
        display: contents;
      }

      &__title {
        order: 1;
      }

      &__description {
        order: 2;

        max-width: none;
        margin-top: 8px;

        font-size: 13px;
        line-height: 1.4;
      }

      &__visual {
        order: 3;

        width: 100%;
        height: 334px;
        margin-top: 16px;

        picture {
          top: 39px;

          width: 232px;
          height: 249px;
        }
      }

      &__list {
        order: 4;

        margin-top: 30px;
      }

      &__item {
        gap: 9px;

        height: 45px;
        margin-bottom: 29px;

        &:last-child {
          height: 34px;
          margin-bottom: 0;
        }
      }

      &__icon {
        width: 34px;
        height: 34px;
      }

      &__text {
        font-size: 16px;
      }
    }
  }

  padding-top: 120px;

  .about-advantages {
    display: grid;
    grid-template-columns: minmax(0, 0.7fr) minmax(0, 1fr);
    gap: 139px;

    &__title {
      padding-bottom: 0;
    }

    &__description {
      max-width: 416px;
      margin-top: 17px;

      font-size: var(--font-text-small);
      line-height: 1.4;
    }

    &__list {
      margin-top: 48px;
    }

    &__item {
      display: flex;
      gap: 19px;
      align-items: center;

      height: 54px;
      margin-bottom: 29px;
      padding-bottom: 29px;
      border-bottom: 1px solid $palette-gray;

      &:last-child {
        height: 38px;
        margin-bottom: 0;
        border-bottom: 0;
      }
    }

    &__icon {
      flex: 0 0 auto;

      width: 38px;
      height: 38px;

      color: $palette-blue;
    }

    &__text {
      font-weight: $weight-Medium;
      font-size: var(--font-text-big);
      line-height: var(--line-height-small);
    }

    &__visual {
      --cut-size: 9px;
      --cut-inner-size: 8px;
      --cut-border-color: #c3d5ff;
      --cut-background-color: #{$palette-lightblue};

      height: 542px;
      margin-top: 10px;

      picture {
        position: absolute;
        top: 104px;
        left: 50%;

        width: 321px;
        height: 352px;

        transform: translateX(-50%);
      }
    }
  }
}
