#cp-about-certificates {
  @include mq($until: tablet) {
    .container {
      padding-right: 20px;
      padding-left: 20px;
    }

    .section__line {
      margin-bottom: 15px;
    }

    .section__title {
      padding-bottom: 0;
    }

    .about-certificates {
      margin-top: 15px;

      &__item {
        grid-template-columns: 38px minmax(0, 1fr) 22px;

        height: 65px;
        padding-right: 0;
        padding-left: 0;

        font-size: 13px;
        line-height: var(--line-height-small);
      }

      &__name {
        max-width: 240px;
      }

      &__icon {
        width: 22px;
        height: 22px;

        svg {
          width: 22px;
          height: 22px;
        }
      }
    }
  }

  padding-top: 0;

  .about-certificates {
    margin-top: 9px;

    &__item {
      display: grid;
      grid-template-columns: 340px 1fr 28px;
      align-items: center;

      height: 62px;
      padding-right: 16px;
      padding-left: 14px;
      border-top: 1px solid $palette-gray;

      font-size: var(--font-text-big);
      line-height: var(--line-height-small);

      transition:
        background $transition-time ease,
        color $transition-time ease;

      @media (hover: hover) {
        &:hover {
          background: $palette-blue;
          color: $palette-white;

          .about-certificates__icon {
            background: $palette-white;
            color: $palette-blue;
          }
        }
      }

      &:last-child {
        border-bottom: 1px solid $palette-gray;
      }
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 28px;
      height: 28px;
      border-radius: $border-radius-round;

      background: $palette-blue;
      color: $palette-white;

      transition:
        background $transition-time ease,
        color $transition-time ease;

      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}
