#cp-about-hero {
  @include mq($until: tablet) {
    overflow: hidden;

    padding-top: 4px;
    padding-bottom: 60px;

    .container {
      padding-right: 20px;
      padding-left: 20px;
    }

    .about-hero {
      position: relative;

      &__title {
        font-size: 26px;
      }

      &__main {
        display: flex;
        flex-direction: column;
        gap: 20px;

        margin-top: 15px;
      }

      &__content {
        position: static;

        order: 2;
        overflow: visible;

        width: calc(100% - 29px);
        height: auto;
        padding: 0;

        background: transparent;
        isolation: auto;

        clip-path: none;

        &::before {
          display: none;
        }
      }

      &__slider {
        overflow: visible;
      }

      &__slide {
        position: relative;
        z-index: 1;

        box-sizing: border-box;
        min-height: 233px;
        padding: 16px;

        background: $palette-gray;
        isolation: isolate;

        clip-path: polygon(
          9px 0,
          calc(100% - 9px) 0,
          100% 9px,
          100% calc(100% - 9px),
          calc(100% - 9px) 100%,
          9px 100%,
          0 calc(100% - 9px),
          0 9px
        );

        &::before {
          content: "";
          position: absolute;
          z-index: -1;

          inset: 1px;

          background: $palette-white;

          clip-path: polygon(
            8px 0,
            calc(100% - 8px) 0,
            100% 8px,
            100% calc(100% - 8px),
            calc(100% - 8px) 100%,
            8px 100%,
            0 calc(100% - 8px),
            0 8px
          );
        }
      }

      &__subtitle {
        font-size: 16px;
      }

      &__lead {
        max-width: 298px;
        margin-top: 8px;

        font-size: 13px;
        line-height: 1.5;
      }

      &__description {
        max-width: 290px;
        margin-top: 10px;

        font-size: 13px;
        line-height: 1.5;

        p:nth-child(n + 2) {
          display: none;
        }
      }

      &__navigation {
        position: absolute;
        z-index: 2;
        top: 3px;
        right: 0;

        width: 54px;
        height: 24px;
        margin-top: 0;

        background: $palette-gray;
        isolation: isolate;

        clip-path: polygon(
          5px 0,
          calc(100% - 5px) 0,
          100% 5px,
          100% calc(100% - 5px),
          calc(100% - 5px) 100%,
          5px 100%,
          0 calc(100% - 5px),
          0 5px
        );

        &::before {
          content: "";
          position: absolute;
          z-index: -1;

          inset: 1px;

          background: $palette-white;

          clip-path: polygon(
            4px 0,
            calc(100% - 4px) 0,
            100% 4px,
            100% calc(100% - 4px),
            calc(100% - 4px) 100%,
            4px 100%,
            0 calc(100% - 4px),
            0 4px
          );
        }
      }

      &__navigation-button {
        position: absolute;
        z-index: 1;
        top: 0;

        width: 50%;
        height: 100%;

        picture {
          display: none;
        }

        &--prev {
          left: 0;
        }

        &--next {
          right: 0;
        }
      }

      &__counter {
        flex: 1 1 auto;

        width: 100%;
        height: 24px;

        font-size: 13px;
        line-height: 1.5;

        pointer-events: none;
      }

      &__image {
        order: 1;

        height: auto;

        aspect-ratio: 181 / 167;

        img {
          object-position: center bottom;
        }
      }

      &__stats {
        display: flex;
        flex-direction: column;
        gap: 16px;

        margin-top: 40px;
      }

      &__stat {
        width: 100%;
        height: 112px;
        padding: 16px;

        clip-path: polygon(0 0, 100% 0, 100% 82px, calc(100% - 30px) 100%, 0 100%);

        &::before {
          clip-path: polygon(0 0, 100% 0, 100% 81px, calc(100% - 29px) 100%, 0 100%);
        }
      }

      &__stat-dot {
        top: 17px;
        right: 17px;

        width: 8px;
        height: 8px;
      }

      &__stat-title {
        font-size: 13px;
      }

      &__stat-value {
        margin-top: 15px;

        font-size: 50px;
      }
    }
  }

  padding-top: 52px;
  padding-bottom: 120px;

  .about-hero {
    &__title {
      margin: 0;

      font-weight: $weight-Bold;
      font-size: 42px;
      line-height: var(--line-height-small);
    }

    &__main {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 20px;

      margin-top: 24px;
    }

    &__content {
      --cut-size: 9px;
      --cut-inner-size: 8px;

      display: flex;
      flex-direction: column;

      box-sizing: border-box;
      height: 615px;
      padding: 26px 31px 32px;
    }

    &__slider {
      overflow: hidden;

      width: 100%;
      min-width: 0;
    }

    &__slide {
      height: auto;
    }

    &__subtitle {
      margin: 0;

      color: $color-text__blue;

      font-weight: $weight-Bold;
      font-size: var(--font-text-large);
      line-height: var(--line-height-small);
    }

    &__lead {
      max-width: 550px;
      margin: 18px 0 0;

      color: $color-text__gray;

      line-height: 1.6;
    }

    &__description {
      display: flex;
      flex-direction: column;
      gap: 19px;

      max-width: 626px;
      margin-top: 42px;

      color: $color-text__gray;

      line-height: 1.6;

      p {
        margin: 0;
      }
    }

    &__navigation {
      display: flex;
      align-items: center;

      width: 157px;
      height: 46px;
      margin-top: auto;
    }

    &__navigation-button {
      flex: 0 0 auto;

      width: 46px;
      height: 46px;
      padding: 0;
      border: 0;

      background: transparent;

      cursor: pointer;

      picture,
      img {
        display: block;

        width: 100%;
        height: 100%;
      }
    }

    &__counter {
      display: flex;
      flex: 0 0 65px;
      align-items: center;
      justify-content: center;

      height: 46px;

      font-size: 20px;
      line-height: var(--line-height-large);
      text-align: center;
    }

    &__image {
      display: block;
      overflow: hidden;

      width: 100%;
      height: 615px;
    }

    &__stats {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 20px;

      margin-top: 80px;
    }

    &__stat {
      position: relative;
      z-index: 1;

      height: 164px;
      padding: 16px;

      background: #c3d5ff;
      isolation: isolate;

      clip-path: polygon(0 0, 100% 0, 100% 83px, calc(100% - 80px) 100%, 0 100%);

      &::before {
        content: "";
        position: absolute;
        z-index: -1;

        inset: 1px;

        background: $palette-lightblue;

        clip-path: polygon(0 0, 100% 0, 100% 82px, calc(100% - 79px) 100%, 0 100%);
      }
    }

    &__stat-dot {
      position: absolute;
      top: 22px;
      right: 20px;

      width: 10px;
      height: 10px;
      border-radius: $border-radius-round;

      background: $palette-red;
    }

    &__stat-title {
      color: $color-text__blue;

      font-weight: $weight-Bold;
      font-size: 20px;
      line-height: var(--line-height-small);
    }

    &__stat-value {
      margin-top: 31px;

      color: $color-text__blue;

      font-weight: $weight-Bold;
      font-size: 74px;
      line-height: var(--line-height-small);
    }
  }
}
