{
  "env": {
    "es2024": true,
    "browser": true,
    "commonjs": true,
    "jquery": true
  },
  "extends": [
    "standard",
    "plugin:unicorn/recommended"
  ],
  "plugins": [
    "unicorn"
  ],
  "ignorePatterns": [
    "node_scripts/",
    "src/js/libs/",
    "webpack.config.js",
    "gulp_tasks/",
    "gulpfile.js"
  ],
  "rules": {
    "no-unused-vars": "off",
    "no-new": "off",
    "quotes": "off",
    "comma-dangle": "off",
    "eol-last": "off",
    "no-multiple-empty-lines": "off",
    "semi": [
      "error",
      "always"
    ],
    "space-before-function-paren": "off",
    "brace-style": 0,
    "unicorn/no-empty-file": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/empty-brace-spaces": "off"
  }
}