// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

.footer {
  @include mq($until: notebook) {
    margin-top: 100px;
  }

  @include mq($until: tablet) {
    margin-top: 60px;
  }

  position: relative;

  &__background {
    @include mq($until: notebook) {
      height: auto;
      margin-top: 0;

      background: $palette-blue;
    }

    position: relative;

    height: 346px;
    margin-top: 140px;

    background-color: $palette-blue;
    background-image: url("../assets/images/footer-bg-desktop.webp");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  &__wrapper {
    @include mq($until: laptop) {
      gap: 0 80px;
    }

    @include mq($until: notebook) {
      display: flex;
      flex-direction: column;

      height: auto;
      padding-top: 30px;
      padding-bottom: 60px;
    }

    @include mq($until: tablet) {
      padding-top: 20px;
      padding-bottom: 54px;
    }

    position: relative;
    z-index: 10;

    display: grid;
    grid-template-columns: 170px 1fr;
    gap: 0 170px;

    height: 346px;
    padding-top: 59px;
    padding-bottom: 110px;

    &::after {
      @include mq($until: tablet) {
        height: 12px;

        clip-path: polygon(4% 0, 96% 0, 100% 100%, 0 100%);
      }

      content: "";
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: -1px;
      left: 0;
      height: 21px;
      background-color: $palette-white;
      clip-path: polygon(2% 0, 98% 0, 100% 100%, 0 100%);
    }
  }

  &__logo {
    @include mq($until: notebook) {
      order: 1;

      width: 150px;
    }

    @include mq($until: tablet) {
      width: 120px;
      height: 58px;
    }

    position: relative;
    z-index: 10;

    .logo {
      @include mq($until: tablet) {
        width: 100%;
        height: 100%;
      }
    }

    picture {
      @include mq($until: tablet) {
        display: block;

        width: 100%;
        height: 100%;
      }
    }
  }

  &__nav {
    @include mq($until: notebook) {
      order: 3;

      margin-top: 32px;
      padding-top: 20px;

      border-top: 1px solid $palette-white;
    }

    @include mq($until: tablet) {
      margin-right: -$container-padding;
      margin-left: -$container-padding;
      padding-top: 18px;
      padding-right: $container-padding;
      padding-left: $container-padding;
    }
  }

  &__bottom {
    @include mq($until: notebook) {
      position: static;

      margin-top: 0;
    }

    position: relative;
    z-index: 11;

    margin-top: -1px;

    background: $palette-white;
    color: $color-text__blue;
    font-weight: $weight-Medium;
    font-size: var(--font-text-regular);
  }

  &-bottom__grid {
    @include mq($until: notebook) {
      display: block;

      padding: 8px 0;
    }

    @include mq($until: tablet) {
      padding: 6px 0 4px;
    }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    padding: 0 46px 22px;
  }

  &-bottom__left {
    @include mq($until: notebook) {
      position: absolute;
      z-index: 12;
      top: 124px;
      right: 30px;

      width: auto;

      text-align: right;

      a {
        color: $palette-white;
        font-size: var(--font-text-small);
        text-decoration: underline;
        white-space: nowrap;
      }
    }

    @include mq($until: tablet) {
      top: 101px;
      right: 20px;

      a {
        font-size: 12px;
      }
    }
  }

  &-bottom__middle {
    @include mq($until: notebook) {
      font-size: var(--font-text-small);
      text-align: center;
    }

    @include mq($until: tablet) {
      font-size: 13px;
    }

    justify-self: center;

    font-weight: $weight-SemiBold;
    white-space: nowrap;
  }

  &-bottom__right {
    @include mq($until: notebook) {
      position: static;

      span {
        display: none;
      }

      .scroll-top {
        position: absolute;
        z-index: 12;
        top: 36px;
        right: 30px;

        svg {
          width: 27px;
          height: 27px;

          rect,
          path {
            stroke: $palette-white;
          }
        }
      }
    }

    @include mq($until: tablet) {
      .scroll-top {
        top: 35px;
        right: 20px;
      }
    }

    a {
      display: flex;
      gap: 9px;
      align-items: center;
      justify-content: end;

      @media (hover: hover) {
        &:hover {
          path {
            transform: translateY(-3px);
          }
        }
      }

      svg {
        width: 26px;
        height: 26px;
      }

      path {
        transition: transform $transition-time ease;
      }
    }
  }

  &__social {
    @include mq($until: notebook) {
      gap: 12px;
      order: 2;

      margin-top: 20px;

      a {
        width: 26px;
        height: 26px;
      }
    }

    @include mq($until: tablet) {
      a {
        width: 22px;
        height: 22px;
      }
    }

    display: flex;
    gap: 15px;

    a {
      transition: $transition-time;

      @media (hover: hover) {
        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }

  .nav--footer {
    @include mq($until: notebook) {
      padding-top: 0;
    }

    .nav__list {
      @include mq($until: notebook) {
        grid-template-columns: 1fr;
        gap: 14px;

        font-weight: $weight-Regular;
      }
    }

    .nav__item {
      @include mq($until: notebook) {
        padding-left: 40px;
      }

      @include mq($until: tablet) {
        padding-left: 38px;
      }
    }

    .nav__link {
      @include mq($until: notebook) {
        font-weight: $weight-Regular;
        font-size: var(--font-text-small);
        line-height: 1.25;
      }

      @include mq($until: tablet) {
        font-size: 13px;
      }
    }
  }
}
