// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
}

.header {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 14px;
  border-bottom: 1px solid $palette-gray;
  background: $palette-white;

  &__logo {
    @include mq($until: laptop) {
      z-index: 50;
    }

    position: relative;
    z-index: 20;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: -35px;
      left: 10px;
      border: 10px solid transparent;
      border-top: 10px solid $palette-gray;
    }

    &::after {
      bottom: -34px;
      border-top: 10px solid $palette-white;
    }
  }

  &__wrapper {
    @include mq($until: laptop) {
      margin-right: 4px;
      margin-left: 4px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__nav {
    @include mq($until: laptop) {
      display: none;
    }

    min-width: 468px;
    margin-left: 55px;
    padding-bottom: 5px;

    font-size: var(--font-text-small);

    .nav__item--products {
      .nav__link {
        display: flex;
        gap: 6px;
        align-items: center;

        &::after {
          content: "";

          width: 0;
          height: 0;
          border-top: 6px solid currentColor;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;

          transition: transform $transition-time ease;
        }
      }

      &.is-active {
        .nav__link {
          color: $palette-blue;

          font-weight: $weight-SemiBold;

          &::after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;

    &-callback {
      @include mq($until: laptop) {
        display: none;
      }

      display: flex;
      gap: 22px;
      align-items: center;

      font-size: var(--font-text-small);

      & .link {
        display: flex;
        gap: 10px;
        align-items: center;

        white-space: nowrap;

        @media (hover: hover) {
          &:hover {
            img {
              opacity: 0.5;
            }
          }
        }

        img {
          transition: all $transition-time ease;
        }

        &.is-active {
          color: $palette-blue;

          img {
            opacity: 0.5;
          }
        }
      }

      & .button {
        margin-left: 40px;

        font-size: var(--font-text-small);

        &.is-active {
          color: rgba($color: $palette-white, $alpha: 0.5);

          pointer-events: none;
        }
      }
    }

    &-mobile {
      @include mq($until: laptop) {
        display: flex;
      }

      display: none;
      gap: 12px;
      align-items: center;
    }

    &-icon {
      display: flex;
      flex: 0 0 26px;
      align-items: center;
      justify-content: center;

      width: 26px;
      height: 26px;
      padding: 0;
      border: 0;

      background: transparent;
      color: $palette-blue;

      cursor: pointer;
      transition: opacity $transition-time ease;

      @media (hover: hover) {
        &:hover {
          opacity: 0.7;
        }
      }

      svg {
        width: 26px;
        height: 26px;
      }

      &.is-active {
        opacity: 0.5;
      }
    }

    &-burger {
      @include mq($until: laptop) {
        display: block;
      }

      display: none;
      margin-left: 10px;

      .hamburger-box {
        width: 32px;
        height: 24px;
      }

      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        width: 32px;
        height: 2px;

        background-color: $palette-blue;
      }

      .hamburger-inner {
        margin-top: -1px;

        &::before {
          top: -9px;
        }

        &::after {
          bottom: -9px;
        }
      }
    }
  }
}
