/*
-----------------------------------------------------------------------------
Настройка максимальных ширин контейнера на разных разрешениях экрана
В некоторых дизайнах бывает что блоки разные по ширине, но на более узких экрана
Приходят в одно состояние, например, шапка 1800px, а основной контент 1440px
Но на экране ноутбука у них обоих максимальная ширина становится равна 1080px
Для этого была создана переменная $container-wide-width
-----------------------------------------------------------------------------
*/

$container-max-widths: (
  mobile: 480px,
  tablet: 768px,
  notebook: 991px,
  laptop: 1200px,
  desktop: 1440px
) !default;

$container-wide-width: 1800px !default;
$container-padding: 16px !default;
