/*
-----------------------------------------------------------------------------
В этом файле подключаются шрифты через миксин font-face,
И задаются основные настройки типографики всего сайта
-----------------------------------------------------------------------------
*/

@include font-face("Roboto", "~@assets/fonts/Roboto/Roboto-Light", 300);
@include font-face("Roboto", "~@assets/fonts/Roboto/Roboto-Regular", 400);
@include font-face("Roboto", "~@assets/fonts/Roboto/Roboto-Medium", 500);
@include font-face("Roboto", "~@assets/fonts/Roboto/Roboto-Bold", 700);

$font-default: "Roboto", sans-serif; // Семейство по умолчанию

body {
  color: $color-text__primary;

  font-weight: $weight-Regular;
  font-size: var(--font-text-regular);
  font-family: $font-default;

  line-height: var(--line-height-text);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: var(--line-height-title);
}