/*
-----------------------------------------------------------------------------
Все переменные, которые используются в проекте
Переменные делятся на два типа:
- CSS-переменные, которые могут меняться от медиа-запросов
- SASS-переменные, которые задаются один раз и являются константами

Выбор типа новой переменной зависит от задачи, если нужно чтобы менялось значение,
Например, у нас на ПК размер заголовков 48px, а на мобильных 21px, то используем
CSS-переменные. Во всех других случаях - SASS.
-----------------------------------------------------------------------------
*/

/* Начало CSS-переменных */
:root {
  /* Разное */
  --border-radius: 5px;

  /* Текст */
  --font-title-large: 64px;
  --font-title-medium: 48px;
  --font-title-small: 36px;
  --font-text-large: 24px;
  --font-text-big: 18px;
  --font-text-regular: 16px;
  --font-text-small: 14px;
  --line-height-large: 1.5;
  --line-height-medium: 1.3;
  --line-height-small: 1.2;
}
/* Конец CSS-переменных */

/* Начало SASS-переменные */
$transition-time: 0.3s;
$border-radius-round: 9999px;

$palette-white: #ffffff;
$palette-black: #000000;

$color-text__primary: #000000;
$color-text__black: #000000;
$color-text__white: #ffffff;

$link-color: #40add8;
$link-hover-color: #60d2ff !default;
/* Конец SASS-переменных */
