<section id="s-callback" class="section">
  <div class="container">
    <div class="section__line"></div>

    <div class="section__header">
      <div class="section__title">
        Напишите нам
      </div>

      <div class="callback__note">
        [ Ответим в течение часа ]
      </div>
    </div>
    <!-- /.section__header -->
    <div class="callback">
      <div class="callback__frame">
        <div class="callback__body">
          <div class="callback__picture">
            <picture class="lazy">
              <img class="image image--cover lazy__item" data-src="assets/images/layout/section/callback/picture.webp" alt="">
            </picture>
          </div>

          <div class="callback__form">
            <form class="form form-custom" action="" data-validation data-success-modal="success" novalidate>
              <div class="callback__fields">
                <div class="input" data-field>
                  <input class="input__field" placeholder=" " autocomplete="name" type="text" name="user_name" required minlength="4" data-validate data-error-required="Необходимо заполнить поле" data-error-minlength="Необходимо заполнить поле [минимум 4 символа]">
                  <span class="input__label">ФИО</span>
                </div>

                <div class="input" data-field>
                  <input class="input__field" placeholder=" " autocomplete="email" type="email" name="user_email" required data-validate data-error-required="Необходимо заполнить поле" data-error-format="Неверно указан адрес электронной почты">
                  <span class="input__label">Почта</span>
                </div>

                <div class="input callback__message" data-field>
                  <textarea class="input__field" placeholder=" " name="user_message" required minlength="30" data-validate data-error-required="Необходимо заполнить поле" data-error-minlength="Необходимо заполнить поле [минимум 30 символов]"></textarea>
                  <span class="input__label">Сообщение</span>
                </div>
              </div>

              <div class="callback__agreements">
                <label class="checkbox">
                  <input type="checkbox" name="privacy" data-privacy>
                  <span class="checkbox__mark"></span>
                  <span class="checkbox__label">
                    Даю согласие на обработку
                    <a href="#" class="link">персональных данных</a>
                  </span>
                </label>

                <label class="checkbox">
                  <input type="checkbox" name="subscribe" checked>
                  <span class="checkbox__mark"></span>
                  <span class="checkbox__label">
                    Согласны получать
                    <a href="#" class="link">рекламно-информационные</a>
                    рассылки
                  </span>
                </label>
              </div>

              <button class="button button-secondary callback__submit" type="submit">
                Отправить
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- /.container -->
</section>