<section id="s-contacts" class="section">
  <div class="container">
    <div class="section__line"></div>

    <div class="section__header">
      <div class="section__title">
        Контакты
      </div>

      <div class="contacts__city">
        [ Санкт-Петербург ]
      </div>
    </div>
    <!-- /.section__header -->

    <div class="contacts">
      <!-- <div class="contacts__map">
        <div id="contacts-map" class="contacts__map-container"></div>
      </div> -->
      <div class="contacts__map">
        <div class="contacts__map-gray">
          <div id="contacts-map" class="contacts__map-container"></div>
        </div>
      </div>
      <!-- /.contacts__map -->

      <div class="contacts__info">
        <div class="contacts__card contacts__card--address cut-border">
          <div class="contacts__row">
            <div class="contacts__icon">
              <svg class="contacts__icon-svg" aria-hidden="true">
                <use href="assets/images/icons/package.svg#contacts-location"></use>
              </svg>
            </div>

            <div class="contacts__content">
              <div class="contacts__text">
                195009, г. Санкт-Петербург, улица Комсомола, 1-3М
              </div>

              <a
                                                                                                                                                                                                                      href="https://yandex.ru/maps/"
                                                                                                                                                                                                                      class="contacts__link link"
                                                                                                                                                                                                                      target="_blank"
                                                                                                                                                                                                                      rel="noopener">
                Посмотреть на карте яндекс
              </a>
            </div>
          </div>
        </div>
        <!-- /.contacts__card -->

        <div class="contacts__card contacts__card--communication cut-border">
          <div class="contacts__row">
            <div class="contacts__icon">
              <svg class="contacts__icon-svg" aria-hidden="true">
                <use href="assets/images/icons/package.svg#contacts-phone"></use>
              </svg>
            </div>

            <a href="tel:+79216427858" class="contacts__text link">
              +7 921 642-78-58
            </a>
          </div>

          <div class="contacts__row">
            <div class="contacts__icon">
              <svg class="contacts__icon-svg" aria-hidden="true">
                <use href="assets/images/icons/package.svg#contacts-mail"></use>
              </svg>
            </div>

            <a href="mailto:slatinskiy@f-elres.ru" class="contacts__text link">
              slatinskiy@f-elres.ru
            </a>
          </div>
        </div>
        <!-- /.contacts__card -->

        <div class="contacts__card contacts__card--schedule cut-border">
          <div class="contacts__row">
            <div class="contacts__icon contacts__icon--calendar">
              <svg class="contacts__icon-svg contacts__icon-svg--calendar" aria-hidden="true">
                <use href="assets/images/icons/package.svg#contacts-calendar"></use>
              </svg>
            </div>

            <div class="contacts__text">
              ПН-ПТ
            </div>
          </div>

          <div class="contacts__row">
            <div class="contacts__icon">
              <svg class="contacts__icon-svg" aria-hidden="true">
                <use href="assets/images/icons/package.svg#contacts-time"></use>
              </svg>
            </div>

            <div class="contacts__text">
              09:00-17:00
            </div>
          </div>
        </div>
        <!-- /.contacts__card -->
      </div>
      <!-- /.contacts__info -->
    </div>
    <!-- /.contacts -->
  </div>
  <!-- /.container -->
</section>