<section id="s-marquee" class="marquee">
  <div class="marquee__wrapper">
    <div class="marquee__track">
      <div class="marquee__group">
        <div class="marquee__text">
          Надежные решения для энергетики и промышленности
        </div>

        <div class="marquee__icon">
          <svg class="marquee__icon-svg" aria-hidden="true">
            <use href="assets/images/icons/package.svg#marquee-mark"></use>
          </svg>
        </div>

        <div class="marquee__text">
          Виспер — надежность проверенная напряжением
        </div>

        <div class="marquee__icon">
          <svg class="marquee__icon-svg" aria-hidden="true">
            <use href="assets/images/icons/package.svg#marquee-mark"></use>
          </svg>
        </div>
      </div>

      <div class="marquee__group" aria-hidden="true">
        <div class="marquee__text">
          Надежные решения для энергетики и промышленности
        </div>

        <div class="marquee__icon">
          <svg class="marquee__icon-svg" aria-hidden="true">
            <use href="assets/images/icons/package.svg#marquee-mark"></use>
          </svg>
        </div>

        <div class="marquee__text">
          Виспер — надежность проверенная напряжением
        </div>

        <div class="marquee__icon">
          <svg class="marquee__icon-svg" aria-hidden="true">
            <use href="assets/images/icons/package.svg#marquee-mark"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>