<section id="s-partners" class="section">
  <div class="container">
    <div class="section__line"></div>

    <div class="section__header">
      <div class="section__title">
        Наши партнеры
      </div>

      <div class="partners__note">
        [ +1000 совместных проектов ]
      </div>
    </div>
    <!-- /.section__header -->

    <div class="partners">
      <div class="partners__decor partners__decor--vacuum-switch">
        ВАКУУМНЫЕ<br>
        ВЫКЛЮЧАТЕЛИ
      </div>

      <div class="partners__decor partners__decor--grounding">
        ЗН / РВЗ<br>
        ЗАЗЕМЛИТЕЛИ
      </div>

      <div class="partners__decor partners__decor--vacuum-contactors">
        ВАКУУМНЫЕ<br>
        КОНТАКТОРЫ
      </div>

      <div class="partners__decor partners__decor--air-switch">
        ВОЗДУШНЫЕ<br>
        АВТОМАТИЧЕСКИЕ<br>
        ВЫКЛЮЧАТЕЛИ
      </div>

      <div class="partners__grid">
        <div class="partners__item cut-border">
          <picture class="lazy">
            <img class="image lazy__item" data-src="assets/images/layout/section/partners/01.png" alt="Фаворит Электро">
          </picture>
          <div class="partners__hover">
            <div class="partners__hover-title">
              Поставили для компании:
            </div>

            <ul class="partners__hover-list">
              <li>Вакуумные выключатели</li>
              <li>Вакуумные контакторы</li>
              <li>Аксессуары</li>
            </ul>
          </div>
        </div>
        <!-- /.partners__item -->

        <div class="partners__item cut-border">
          <picture class="lazy">
            <img class="image lazy__item" data-src="assets/images/layout/section/partners/02.png" alt="ДОКО">
          </picture>
          <div class="partners__hover">
            <div class="partners__hover-title">
              Поставили для компании:
            </div>

            <ul class="partners__hover-list">
              <li>Вакуумные выключатели</li>
              <li>Вакуумные контакторы</li>
              <li>Аксессуары</li>
            </ul>
          </div>
        </div>
        <!-- /.partners__item -->

        <div class="partners__item cut-border">
          <picture class="lazy">
            <img class="image lazy__item" data-src="assets/images/layout/section/partners/03.png" alt="Росводоканал">
          </picture>
          <div class="partners__hover">
            <div class="partners__hover-title">
              Поставили для компании:
            </div>

            <ul class="partners__hover-list">
              <li>Вакуумные выключатели</li>
              <li>Вакуумные контакторы</li>
              <li>Аксессуары</li>
            </ul>
          </div>
        </div>
        <!-- /.partners__item -->

        <div class="partners__item cut-border">
          <picture class="lazy">
            <img class="image lazy__item" data-src="assets/images/layout/section/partners/04.png" alt="Эльбрусметалл">
          </picture>
          <div class="partners__hover">
            <div class="partners__hover-title">
              Поставили для компании:
            </div>

            <ul class="partners__hover-list">
              <li>Вакуумные выключатели</li>
              <li>Вакуумные контакторы</li>
              <li>Аксессуары</li>
            </ul>
          </div>
        </div>
        <!-- /.partners__item -->

        <div class="partners__item cut-border">
          <picture class="lazy">
            <img class="image lazy__item" data-src="assets/images/layout/section/partners/05.png" alt="Ozon Обучение">
          </picture>
          <div class="partners__hover">
            <div class="partners__hover-title">
              Поставили для компании:
            </div>

            <ul class="partners__hover-list">
              <li>Вакуумные выключатели</li>
              <li>Вакуумные контакторы</li>
              <li>Аксессуары</li>
            </ul>
          </div>
        </div>
        <!-- /.partners__item -->

        <div class="partners__item cut-border">
          <picture class="lazy">
            <img class="image lazy__item" data-src="assets/images/layout/section/partners/06.png" alt="GV Gold">
          </picture>
          <div class="partners__hover">
            <div class="partners__hover-title">
              Поставили для компании:
            </div>

            <ul class="partners__hover-list">
              <li>Вакуумные выключатели</li>
              <li>Вакуумные контакторы</li>
              <li>Аксессуары</li>
            </ul>
          </div>
        </div>
        <!-- /.partners__item -->

        <div class="partners__item cut-border">
          <picture class="lazy">
            <img class="image lazy__item" data-src="assets/images/layout/section/partners/07.png" alt="Аэропорт Норильск">
          </picture>
          <div class="partners__hover">
            <div class="partners__hover-title">
              Поставили для компании:
            </div>

            <ul class="partners__hover-list">
              <li>Вакуумные выключатели</li>
              <li>Вакуумные контакторы</li>
              <li>Аксессуары</li>
            </ul>
          </div>
        </div>
        <!-- /.partners__item -->

        <div class="partners__item cut-border">
          <picture class="lazy">
            <img class="image lazy__item" data-src="assets/images/layout/section/partners/08.png" alt="Соврудник">
          </picture>
          <div class="partners__hover">
            <div class="partners__hover-title">
              Поставили для компании:
            </div>

            <ul class="partners__hover-list">
              <li>Вакуумные выключатели</li>
              <li>Вакуумные контакторы</li>
              <li>Аксессуары</li>
            </ul>
          </div>
        </div>
        <!-- /.partners__item -->

        <div class="partners__item cut-border">
          <picture class="lazy">
            <img class="image lazy__item" data-src="assets/images/layout/section/partners/09.png" alt="Крымэнерго">
          </picture>
          <div class="partners__hover">
            <div class="partners__hover-title">
              Поставили для компании:
            </div>

            <ul class="partners__hover-list">
              <li>Вакуумные выключатели</li>
              <li>Вакуумные контакторы</li>
              <li>Аксессуары</li>
            </ul>
          </div>
        </div>
        <!-- /.partners__item -->

        <div class="partners__item cut-border">
          <picture class="lazy">
            <img class="image lazy__item" data-src="assets/images/layout/section/partners/09.png" alt="Крымэнерго">
          </picture>
          <div class="partners__hover">
            <div class="partners__hover-title">
              Поставили для компании:
            </div>

            <ul class="partners__hover-list">
              <li>Вакуумные выключатели</li>
              <li>Вакуумные контакторы</li>
              <li>Аксессуары</li>
            </ul>
          </div>
        </div>
        <!-- /.partners__item -->
      </div>
      <!-- /.partners__grid -->
    </div>
    <!-- /.partners -->
  </div>
  <!-- /.container -->
</section>