<section id="{{id}}" class="section products-related">
  <div class="container">
    <div class="section__line"></div>

    <div class="section__header products-related__header">
      <h2 class="section__title products-related__title">
        {{title}}
      </h2>

      <div class="products-related__navigation">
        <button class="products-related__button products-related__button--prev" type="button" aria-label="Предыдущий слайд">
          <picture>
            <img class="image" src="assets/images/arrow-left.png" alt="">
          </picture>
        </button>

        <button class="products-related__button products-related__button--next" type="button" aria-label="Следующий слайд">
          <picture>
            <img class="image" src="assets/images/arrow-right.png" alt="">
          </picture>
        </button>
      </div>
      <!-- /.products-related__navigation -->
    </div>
    <!-- /.section__header -->
  </div>
  <!-- /.container -->

  <div class="products-related__slider">
    <div class="swiper">
      <div class="swiper-wrapper">
        <each loop="item in items">
          <div class="swiper-slide">
            <article class="c-related-product cut-border cut-border--content">
              <div class="c-related-product__image">
                <picture class="lazy">
                  <img class="image lazy__item" data-src="{{item.picture}}" alt="{{item.title}}">
                </picture>
              </div>
              <!-- /.c-related-product__image -->

              <div class="c-related-product__content">
                <div class="c-related-product__info">
                  <div class="c-related-product__title">
                    {{item.title}}
                  </div>

                  <if condition="typeof item.subtitle !== 'undefined' && item.subtitle">
                    <div class="c-related-product__subtitle">
                      {{item.subtitle}}
                    </div>
                  </if>
                </div>
                <!-- /.c-related-product__info -->

                <svg class="c-related-product__icon" aria-hidden="true">
                  <use href="assets/images/icons/package.svg#arrow-circle"></use>
                </svg>
              </div>
              <!-- /.c-related-product__content -->

              <a href="{{item.href}}" class="c-related-product__link link-stretched" aria-label="{{item.title}}"></a>
            </article>
            <!-- /.c-related-product -->
          </div>
        </each>
      </div>
      <!-- /.swiper-wrapper -->
    </div>
    <!-- /.swiper -->
  </div>
  <!-- /.products-related__slider -->
</section>