.cut-border {
  position: relative;
  z-index: 1;

  padding: 1px;

  background: $palette-gray;

  clip-path: polygon(
    12px 0,
    calc(100% - 12px) 0,
    100% 12px,
    100% calc(100% - 12px),
    calc(100% - 12px) 100%,
    12px 100%,
    0 calc(100% - 12px),
    0 12px
  );

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    inset: 1px;

    background: $palette-white;

    clip-path: polygon(
      11px 0,
      calc(100% - 11px) 0,
      100% 11px,
      100% calc(100% - 11px),
      calc(100% - 11px) 100%,
      11px 100%,
      0 calc(100% - 11px),
      0 11px
    );
  }

  &--blue {
    background: $palette-blue;
  }
}
