.cut-border {
  --cut-size: 12px;
  --cut-inner-size: 11px;
  --cut-border-color: #{$palette-gray};
  --cut-background-color: #{$palette-white};

  position: relative;
  z-index: 1;

  padding: 1px;

  background: var(--cut-border-color);
  isolation: isolate;

  clip-path: polygon(
    var(--cut-size) 0,
    calc(100% - var(--cut-size)) 0,
    100% var(--cut-size),
    100% calc(100% - var(--cut-size)),
    calc(100% - var(--cut-size)) 100%,
    var(--cut-size) 100%,
    0 calc(100% - var(--cut-size)),
    0 var(--cut-size)
  );

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    inset: 1px;

    background: var(--cut-background-color);

    transition: $transition-time ease;

    clip-path: polygon(
      var(--cut-inner-size) 0,
      calc(100% - var(--cut-inner-size)) 0,
      100% var(--cut-inner-size),
      100% calc(100% - var(--cut-inner-size)),
      calc(100% - var(--cut-inner-size)) 100%,
      var(--cut-inner-size) 100%,
      0 calc(100% - var(--cut-inner-size)),
      0 var(--cut-inner-size)
    );
  }

  &--large {
    --cut-size: 16px;
    --cut-inner-size: 15px;
  }
}
