.link {
  cursor: pointer;
  transition: $transition-time ease;

  @media (hover: hover) {
    &:hover {
      color: $link-hover-color;
    }
  }

  &--underline {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.link-stretched {
  &::after {
    content: "";
    position: absolute;
    z-index: 10;
    inset: 0;
  }
}
