.social {
  display: flex;
  gap: 8px;
  align-items: center;

  a {
    display: block;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: $transition-time;

    @media (hover: hover) {
      &:hover {
        transform: scale(0.9);
      }
    }

    &.telegram {

    }
  }
}
