.products-related {
  @include mq($until: notebook) {
    padding-top: 60px;

    &__navigation {
      gap: 16px;
    }

    &__button {
      width: 40px;
      height: 40px;
    }

    &__slider {
      margin-top: 30px;

      &::before,
      &::after {
        width: 130px;
      }
    }

    .swiper-slide {
      width: 320px;
    }
  }

  @include mq($until: tablet) {
    padding-top: 50px;

    &__navigation {
      gap: 12px;
    }

    &__button {
      width: 36px;
      height: 36px;
    }

    &__slider {
      margin-top: 26px;

      &::before,
      &::after {
        width: 100px;
      }
    }

    .swiper-slide {
      width: 240px;
    }
  }

  @include mq($until: mobile) {
    padding-top: 40px;

    .section__line {
      margin-bottom: 16px;
    }

    &__navigation {
      display: none;
    }

    &__slider {
      margin-top: 22px;

      &::before,
      &::after {
        width: 90px;
      }
    }

    .swiper-slide {
      width: 173px;
    }
  }

  overflow: hidden;

  padding-top: 80px;

  &__title {
    padding-bottom: 0;
  }

  &__navigation {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__button {
    width: 46px;
    height: 46px;
    padding: 0;
    border: 0;

    background: transparent;

    cursor: pointer;

    appearance: none;

    picture {
      width: 100%;
      height: 100%;
    }
  }

  &__slider {
    position: relative;

    overflow: hidden;

    margin-top: 38px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 2;

      top: 0;
      bottom: 0;

      width: 180px;

      pointer-events: none;
    }

    &::before {
      left: 0;

      background: linear-gradient(to right, $palette-white, rgba($palette-white, 0));
    }

    &::after {
      right: 0;

      background: linear-gradient(to left, $palette-white, rgba($palette-white, 0));
    }
  }

  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    width: 453px;
    height: auto;
  }
}
