[data-editor] {
  font-size: var(--font-text-regular);
  line-height: var(--line-height-text);

  & > *:not(:last-child) {
    margin-bottom: 16px;
  }

  & > * + h2,
  & > * + h3,
  & > * + h4 {
    margin-top: 24px;
  }

  ul,
  ol {
    padding-left: 20px;
  }

  li {
    margin-bottom: 8px;
  }

  h2,
  h3,
  h4 {
    font-weight: $weight-Bold;
  }

  blockquote {
    padding: 16px 24px;
    border-left: 3px solid #eeeeee;
    font-style: italic;
  }

  video {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: var(--border-radius);
  }

  iframe {
    width: 100%;
    border: none;
    border-radius: var(--border-radius);
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
  }

  b,
  strong {
    font-weight: $weight-Bold;
  }

  & > ul {
    list-style-type: disc;
  }

  & > ol {
    list-style-type: decimal;
  }

  a:not([class*="button"]) {
    color: $link-color;
    text-decoration: underline;
    transition: color $transition-time ease;

    @media (hover: hover) {
      &:hover {
        color: $link-hover-color;
        text-decoration: none;
      }
    }
  }
}
