<div class="c-product">
  <div class="c-product__default cut-border">
    <div class="c-product__count">
      {{count}}
    </div>

    <div class="c-product__image">
      <picture class="lazy">
        <img class="image lazy__item" data-src="{{picture}}" alt="">
      </picture>
    </div>
    <!-- /.c-product__image -->

    <div class="c-product__info">
      <span>{{title}}</span>

      <svg class="c-product__icon" aria-hidden="true">
        <use href="assets/images/icons/package.svg#arrow-circle"></use>
      </svg>
    </div>
    <!-- /.c-product__info -->

    <a href="#" class="c-product__link link-stretched"></a>
  </div>
  <!-- /.c-product__default -->

  <div class="c-product__hover">
    <div class="c-product__hover-body">
      <div class="c-product__scroll">
        <ul class="c-product__list">
          <li>Силиконовый кожух [ИС]</li>
          <li>Контакт подвижный [КП]</li>
          <li>Контакт ламельный [КЛ]</li>
          <li>Контакт неподвижный [КН]</li>
          <li>Изолятор проходного типа «сапог» [ИПС]</li>
          <li>Комплект контактной группы</li>
          <li>Контактное кольцо</li>
          <li>Комплект крепежа</li>
        </ul>
      </div>
      <!-- /.c-product__scroll -->
    </div>
    <!-- /.c-product__hover-body -->

    <div class="c-product__hover-info">
      <span>{{title}}</span>

      <svg class="c-product__icon c-product__icon--hover" aria-hidden="true">
        <use href="assets/images/icons/package.svg#arrow-circle"></use>
      </svg>

      <a href="#" class="c-product__hover-link link-stretched"></a>
    </div>
    <!-- /.c-product__hover-info -->
  </div>
  <!-- /.c-product__hover -->
</div>
<!-- /.c-product -->