<article class="c-product-model{{modifier}} cut-border" data-filter="{{filter}}">
  <div class="c-product-model__image">
    <picture class="lazy">
      <img class="image lazy__item" data-src="{{picture}}" alt="{{title}}">
    </picture>
  </div>
  <!-- /.c-product-model__image -->

  <div class="c-product-model__content">
    <div class="c-product-model__info">
      <h3 class="c-product-model__title">
        {{title}}
      </h3>

      <div class="c-product-model__subtitle">
        {{subtitle}}
      </div>
    </div>
    <!-- /.c-product-model__info -->

    <div class="c-product-model__arrow">
      <svg class="c-product-model__icon" aria-hidden="true">
        <use href="assets/images/icons/package.svg#arrow-circle"></use>
      </svg>
    </div>
  </div>
  <!-- /.c-product-model__content -->

  <a href="{{href}}" class="c-product-model__link link-stretched" aria-label="{{title}}"></a>
</article>
<!-- /.c-product-model -->