<article class="c-related-product cut-border cut-border--content">
  <div class="c-related-product__image">
    <picture class="lazy">
      <img class="image lazy__item" data-src="{{picture}}" alt="{{title}}">
    </picture>
  </div>
  <!-- /.c-related-product__image -->

  <div class="c-related-product__content">
    <div class="c-related-product__title">
      {{title}}
    </div>

    <svg class="c-related-product__icon" aria-hidden="true">
      <use href="assets/images/icons/package.svg#arrow-circle"></use>
    </svg>
  </div>
  <!-- /.c-related-product__content -->

  <a href="{{href}}" class="c-related-product__link link-stretched" aria-label="{{title}}"></a>
</article>
<!-- /.c-related-product -->