<div class="modal modal--product-drawing" data-modal="product-drawing">
  <div class="modal__overlay">
    <div class="modal__container product-drawing-modal">
      <button class="modal__close" type="button" data-modal-close="product-drawing" aria-label="Закрыть"></button>

      <div class="product-drawing-modal__drawing">
        <picture>
          <img class="image image--contain" src="assets/images/layout/pages/sp-product-1/drawing.webp" alt="Чертёж ИС-190-50">
        </picture>
      </div>
    </div>
    <!-- /.modal__container -->
  </div>
  <!-- /.modal__overlay -->
</div>
<!-- /.modal -->