<div class="modal modal--success" data-modal="success">
  <div class="modal__overlay">
    <div class="modal__container success-modal cut-corners">
      <div class="success-modal__icon">
        <svg aria-hidden="true">
          <use href="assets/images/icons/package.svg#success-rocket"></use>
        </svg>
      </div>

      <p class="success-modal__title">Запрос отправлен!</p>

      <p class="success-modal__text">
        Мы благодарим Вас за обращение! В течение 30 минут с Вами свяжутся наши специалисты.
      </p>

      <a class="button button-secondary success-modal__button" href="/">Вернуться на главную</a>
    </div>
    <!-- /.modal__container -->
  </div>
  <!-- /.modal__overlay -->
</div>
<!-- /.modal -->