#ap-products-subcategory-related {
  overflow: hidden;

  .products-related {
    &__title {
      padding-bottom: 0;
    }

    &__navigation {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    &__button {
      width: 46px;
      height: 46px;
      padding: 0;
      border: 0;

      background: transparent;

      cursor: pointer;

      appearance: none;

      picture {
        width: 100%;
        height: 100%;
      }
    }

    &__slider {
      position: relative;

      overflow: hidden;

      margin-top: 38px;

      &::before,
      &::after {
        content: "";

        z-index: 2;
        position: absolute;

        top: 0;
        bottom: 0;

        width: 180px;

        pointer-events: none;
      }

      &::before {
        left: 0;

        background: linear-gradient(to right, $palette-white, rgba($palette-white, 0));
      }

      &::after {
        right: 0;

        background: linear-gradient(to left, $palette-white, rgba($palette-white, 0));
      }
    }

    .swiper {
      overflow: visible;
    }

    .swiper-slide {
      width: 453px;
      height: auto;
    }
  }
}
