.c-product-model {
  --cut-size: 16px;
  --cut-inner-size: 15px;
  --cut-border-color: #{$palette-gray};
  --cut-background-color: #{$palette-white};

  @include mq($until: mobile) {
    padding-top: 25px;
    padding-bottom: 0;

    .container {
      padding-right: 20px;
      padding-left: 20px;
    }

    .page-breadcrumbs {
      &__link,
      &__current {
        font-size: 13px;
      }
    }

    .products-subcategory {
      margin-top: 11px;

      &__header {
        gap: 16px;
      }

      &__title {
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid $palette-gray;

        font-size: 26px;
      }

      &__filters {
        gap: 10px;
      }

      &__filter {
        height: 29px;

        font-size: 13px;
      }

      &__divider {
        display: none;
      }

      &__grid {
        grid-template-columns: 1fr;
        gap: 16px;

        margin-top: 30px;

        .c-product-model,
        .c-product-model--wide,
        .c-product-model:first-child {
          grid-column: span 1;
        }
      }
    }

    .c-product-model {
      --cut-size: 8px;
      --cut-inner-size: 7px;

      height: auto;

      @media (hover: hover) {
        &:hover {
          .c-product-model__image {
            background: $palette-lightblue;
          }
        }
      }

      &::after {
        display: none;
      }

      &__image {
        flex: 0 0 137px;

        background: $palette-lightgray;

        transition: background $transition-time ease;

        img {
          max-width: 80%;
          max-height: 90px;
        }
      }

      &__content {
        flex: 0 0 auto;
        gap: 8px;
        align-items: flex-start;

        padding: 11px 16px 23px;
      }

      &__title {
        font-size: 15px;
      }

      &__subtitle {
        margin-top: 3px;

        font-size: 13px;
        line-height: 14px;
      }

      &__arrow,
      &__icon {
        width: 20px;
        height: 20px;
      }
    }
  }

  position: relative;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  height: 382px;

  @media (hover: hover) {
    &:hover {
      --cut-border-color: #{$palette-blue};
      --cut-background-color: #{$palette-blue};

      &::after {
        background: $palette-lightblue;
      }

      .c-product-model__content {
        color: $palette-white;

        &::before {
          opacity: 0.47;
        }
      }

      .c-product-model__subtitle {
        color: $palette-white;
      }

      .c-product-model__arrow {
        background: $palette-white;
      }

      .c-product-model__icon {
        color: $palette-blue;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 0;

    inset: 1px 1px auto;
    height: 288px;

    background: $palette-lightgray;

    transition: background $transition-time ease;

    clip-path: polygon(
      var(--cut-inner-size) 0,
      calc(100% - var(--cut-inner-size)) 0,
      100% var(--cut-inner-size),
      100% 100%,
      0 100%,
      0 var(--cut-inner-size)
    );
  }

  &__image {
    position: relative;
    z-index: 1;

    display: flex;
    flex: 0 0 289px;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    min-height: 0;
    border-bottom: 1px solid $palette-gray;

    picture {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;
    }

    img {
      object-fit: contain;

      width: auto;
      max-width: 70%;
      height: auto;
      max-height: 190px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;

    display: flex;
    flex: 1 1 auto;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    min-height: 0;
    padding: 16px 20px 16px 24px;

    transition: color $transition-time ease;

    &::before {
      content: "";
      position: absolute;

      inset: 0;

      background: url("../assets/images/layout/pages/home/production/bg.webp") center / cover no-repeat;

      opacity: 0;
      pointer-events: none;
      transition: opacity $transition-time ease;

      mix-blend-mode: overlay;
    }
  }

  &__info {
    position: relative;
    z-index: 1;

    min-width: 0;
  }

  &__title {
    margin: 0;

    font-weight: $weight-Bold;
    font-size: var(--font-text-large);
    line-height: var(--line-height-small);
  }

  &__subtitle {
    margin-top: 4px;

    color: $palette-blue;
    font-weight: $weight-Medium;
    font-size: var(--font-text-regular);
    line-height: var(--line-height-small);

    transition: color $transition-time ease;
  }

  &__arrow {
    position: relative;
    z-index: 1;

    flex: 0 0 auto;

    width: 32px;
    height: 32px;
    border-radius: 50%;

    background-color: transparent;

    transition: background-color $transition-time ease;
  }

  &__icon {
    position: absolute;

    inset: 0;

    width: 32px;
    height: 32px;

    color: $palette-blue;

    transition: color $transition-time ease;
  }

  &__link {
    z-index: 2;
  }
}
