.c-subproduct {
  position: relative;

  display: grid;
  grid-template-columns: minmax(0, 408px) minmax(0, 1fr);
  gap: 20px;

  height: 290px;

  @media (hover: hover) {
    &:hover {
      .c-subproduct__image,
      .c-subproduct__content {
        --cut-border-color: #{$palette-blue};
        --cut-background-color: #f3f6ff;
      }

      .c-subproduct__arrow-icon--default {
        opacity: 0;
      }

      .c-subproduct__arrow-icon--active {
        opacity: 1;
      }
    }
  }

  &__image,
  &__content {
    --cut-border-color: #{$palette-gray};
    --cut-background-color: #{$palette-white};

    min-width: 0;

    transition: background $transition-time ease;
  }

  &__image-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    width: 100%;
    height: 100%;
    padding: 35px 40px;

    picture {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;
    }

    img {
      object-fit: contain;

      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 220px;
    }
  }

  &__content-inner {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 32px 34px 30px;
  }

  &__head {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__mark {
    flex: 0 0 auto;

    width: 30px;
    height: 30px;

    color: $palette-blue;
  }

  &__subtitle {
    color: $palette-blue;
    font-weight: $weight-Bold;
    font-size: var(--font-text-big);
    line-height: var(--line-height-small);
  }

  &__text {
    max-width: 610px;
    margin-top: 14px;

    line-height: var(--line-height-medium);
  }

  &__footer {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;

    margin-top: auto;
  }

  &__properties {
    display: flex;
    gap: 18px;
    align-items: center;
  }

  &__property {
    display: flex;
    gap: 5px;
    align-items: center;

    font-size: var(--font-text-small);

    & + & {
      position: relative;

      padding-left: 18px;

      &::before {
        content: "";
        position: absolute;

        top: 50%;
        left: 0;

        width: 1px;
        height: 18px;

        background: $palette-gray;

        transform: translateY(-50%);
      }
    }
  }

  &__property-value {
    font-weight: $weight-Medium;
  }

  &__arrow {
    position: relative;

    flex: 0 0 auto;

    width: 32px;
    height: 32px;
  }

  &__arrow-icon {
    position: absolute;

    inset: 0;

    width: 32px;
    height: 32px;

    transition: opacity $transition-time ease;

    &--default {
      color: $palette-blue;
      opacity: 1;
    }

    &--active {
      color: $palette-blue;
      opacity: 0;
    }
  }
}
