<footer id="footer" class="footer">
  <div class="footer__background">
    <div class="container">
      <div class="footer__wrapper">
        <div class="footer__logo">
          <a href="/" class="logo logo--footer">
            <picture>
              <!-- <source srcset="assets/images/logo-mobile.svg" media="(max-width: 755px)">
              <source srcset="assets/images/logo-mobile.svg" media="(max-width: 1246px)"> -->
              <img class="image image--cover" src="assets/images/logo-footer.png" alt="">
            </picture>
          </a>
        </div>
        <!-- /.footer__logo -->

        <div class="footer__nav">
          <nav class="nav nav--footer">
            <ol class="nav__list">
              <li class="nav__item">
                <a class="nav__link" href="">Оборудование для
                  производства ячеек
                  КРУ и КСО</a>
              </li>

              <li class="nav__item">
                <a class="nav__link" href="">Вакуумные выключатели
                  серии BB/FE</a>
              </li>

              <li class="nav__item">
                <a class="nav__link" href="">Вакуумные выключатели
                  наружного исполнения
                  серии BBН/FE</a>
              </li>

              <li class="nav__item">
                <a class="nav__link" href="">Вакуумные контакторы
                  серий BK/FE и BK/FM</a>
              </li>

              <li class="nav__item">
                <a class="nav__link" href="">Разъединители
                  серии РВ/W-10</a>
              </li>

              <li class="nav__item">
                <a class="nav__link" href="">Воздушные автоматические
                  выключатели серии WGS</a>
              </li>

              <li class="nav__item">
                <a class="nav__link" href="">Автоматические выключатели в литом корпусе серии WGM</a>
              </li>

              <li class="nav__item">
                <a class="nav__link" href="">Выключатели нагрузки
                  автогазовые ВНА/W-10</a>
              </li>
            </ol>
          </nav>
          <!-- /.nav -->
        </div>
        <!-- /.footer__nav -->

        <div class="footer__social social">
          <a href="#" target="_blank" rel="nofollow">
            <picture>
              <img class="image image--cover" src="assets/images/social-tg.png" alt="">
            </picture>
          </a>
          <a href="#" target="_blank" rel="nofollow">
            <picture>
              <img class="image image--cover" src="assets/images/social-wa.png" alt="">
            </picture>
          </a>
          <a href="#" target="_blank" rel="nofollow">
            <picture>
              <img class="image image--cover" src="assets/images/social-max.png" alt="">
            </picture>
          </a>
          <a href="#" target="_blank" rel="nofollow">
            <picture>
              <img class="image image--cover" src="assets/images/social-vk.png" alt="">
            </picture>
          </a>
        </div>
        <!-- /.footer__social -->
      </div>
      <!-- /.footer__wrapper -->
    </div>
  </div>
  <!-- /.footer__background -->
  <div class="footer__bottom">
    <div class="container">
      <div class="footer-bottom__grid">
        <div class="footer-bottom__left">
          <a href="#">Политика конфиденциальности</a>
        </div>
        <!-- /.footer-bottom__left -->
        <div class="footer-bottom__middle">
          ООО «Виспер» Все права защищены, 2026
        </div>
        <!-- /.footer-bottom__middle -->
        <div class="footer-bottom__right">
          <a href="#">Наверх</a>
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
            <rect x="0.5" y="0.5" width="25" height="25" rx="12.5" stroke="#0033AB" />
            <path d="M13 8.5V18.5" stroke="#0033AB" />
            <path d="M9 12L13 8L17 12" stroke="#0033AB" />
          </svg>
        </div>
        <!-- /.footer-bottom__right -->
      </div>
      <!-- /.footer-bottom__grid -->
    </div>
  </div>
  <!-- /.footer__bottom -->


</footer>

<include src="layout/modal/callback.html"></include>