<header id="header" class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__left">
        <div class="header__logo">
          <a href="/" class="logo logo--header">
            <picture>
              <!-- <source srcset="assets/images/logo-mobile.svg" media="(max-width: 755px)">
              <source srcset="assets/images/logo.svg" media="(max-width: 1040px)">
              <source srcset="assets/images/logo-mobile.svg" media="(max-width: 1246px)"> -->
              <img class="image image--cover" src="assets/images/logo.png" alt="">
            </picture>
          </a>
        </div>
        <!-- /.header__logo -->

        <div class="header__nav">
          <nav class="nav nav--header">
            <ul class="nav__list">
              <li class="nav__item">
                <a class="nav__link" href="">Главная</a>
              </li>

              <li class="nav__item">
                <a class="nav__link" href="">Продукция</a>
              </li>

              <li class="nav__item">
                <a class="nav__link" href="">Контакты</a>
              </li>

              <li class="nav__item">
                <a class="nav__link" href="">Новости</a>
              </li>

              <li class="nav__item">
                <a class="nav__link" href="">О нас</a>
              </li>
            </ul>
          </nav>
          <!-- /.nav -->
        </div>
        <!-- /.header__nav -->

      </div>
      <!-- /.header__left -->

      <div class="header__action">
        <div class="header__action-callback">
          <a class="link" href="mailto:office@w-av.ru">
            <picture>
              <img class="image image--cover" src="assets/images/mail.png" alt="">
            </picture>
            office@w-av.ru
          </a>
          <a class="link" href="tel:89216427858">
                        <picture>
              <img class="image image--cover" src="assets/images/phone.png" alt="">
            </picture>
            8 (921) 642-78-58
          </a>
          <a class="button button-secondary" href="#">Заказать звонок</a>
        </div>
        <!-- /.header__action-callback -->

        <div class="header__action-burger">
          <button class="hamburger hamburger--spin" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
        <!-- /.header__action-burger -->

      </div>
      <!-- /.header__action -->

    </div>
    <!-- /.header__wrapper -->

  </div>
</header>