.button-primary {
  background-color: $palette-blue;
  color: $color-text__white;
  font-weight: $weight-Medium;
  font-size: var(--font-text-small);

  @media (hover: hover) {
    &:hover {
      border: 1px solid $palette-blue;
      background-color: $palette-white;
      color: $color-text__blue;
    }
  }
}
