.button-primary {
  min-width: 216px;
  padding: 11px 32px;
  border: none;

  border-radius: 0;
  outline: none;
  background: linear-gradient(180deg, $palette-white 89.76%, #c4d6ff 99.53%);
  color: $color-text__blue;

  font-weight: $weight-Medium;
  font-size: var(--font-text-regular);

  filter: drop-shadow(0 0.876px 7.355px rgba(139, 174, 255, 0.57));

  transition: all $transition-time ease;

  clip-path: polygon(
    3px 0%,
    calc(100% - 3px) 0%,
    100% 3px,
    100% calc(100% - 3px),
    calc(100% - 3px) 100%,
    3px 100%,
    0% calc(100% - 3px),
    0% 3px
  );

  @media (hover: hover) {
    &:hover {
      // border: 1px solid $palette-white;

      background: $palette-blue;
      color: $color-text__white;
    }
  }
}
