<nav class="page-breadcrumbs" aria-label="Хлебные крошки">
  <ol class="page-breadcrumbs__list">
    <li class="page-breadcrumbs__item">
      <a href="#" class="page-breadcrumbs__link">
        Оборудование КРУ и КСО
      </a>
    </li>

    <li class="page-breadcrumbs__item">
      <a href="#" class="page-breadcrumbs__link">
        Контактная группа
      </a>
    </li>

    <li class="page-breadcrumbs__item">
      <a href="#" class="page-breadcrumbs__link">
        Силиконовый кожух
      </a>
    </li>

    <li class="page-breadcrumbs__item">
      <span class="page-breadcrumbs__current">
        ИС-190-50
      </span>
    </li>
  </ol>
</nav>