<nav class="page-breadcrumbs" aria-label="Хлебные крошки">
  <ol class="page-breadcrumbs__list">
    <each loop="item in items">
      <li class="page-breadcrumbs__item">
        <if condition="loop.last">
          <span class="page-breadcrumbs__current">
            {{ item.title }}
          </span>
        </if>

        <else>
          <a href="{{ item.href }}" class="page-breadcrumbs__link">
            {{ item.title }}
          </a>
        </else>
      </li>
    </each>
  </ol>
</nav>